* {
  margin: 0px;
  padding: 0px;
}
.container {
  height:100%;
  width:100%;
  display:flex;
  text-align: center;
  justify-content: center;
  padding: 20px;
  
}
.calculator {
  padding: 20px;
  
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(13, 14, 13);
}
button {
  height: 30px;
  width: 30px;
  padding: 20px;
  margin: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
  background-color: rgba(260, 248, 255, 0.2);
  border-radius: 30px;
  text-align: center;
  color: whitesmoke;
  align-items: center;
}
input {
  margin: 10px;
  padding: 10px;
  width: 210px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
  background-color: aliceblue;
  outline: none;
  border-radius: 30px;
  text-align: end;
  font-size: 18px;
}
button:hover {
  background-color: rgb(233, 11, 48);
  transition-duration: 300ms;
  font-size: 16px;
}
.zero {
  background-color: green;
  width: 220px;
}
.highlight {
  background-color: grey;
  border-radius: 10px;
}
h1 {
  background-color: green;
  padding: 10px;
  color: whitesmoke;
  text-align: center;
}

h4 {
  background-color: green;
  color: whitesmoke;
  padding: 5px;
  text-align: center;
}
